basic data structue
1. list
2. tuple
3. set
4. dictionary

list properties
- ordered(sequences)
- indexed
- mutable(changeable)
- allow duplicate values
- hetergenous (different types of data)
- list is denoted by square brackets '[]'
- an iterable can be converted to list using list() function

what to learn
- creating
- indexing/slicing
- modifying
- methods

In [1]:
x = [1,2,3,4,5,6]
names = ['Anand','Janvi','Alok', 'Sumit','Abhishek']
mixeds = ['potato', 10, 'Tomato', 20, 'onion', 30]

In [2]:
name = 'janvi'
list(name)

['j', 'a', 'n', 'v', 'i']

In [3]:
x = [] # blank list

In [4]:
a = [1] # single element list
a*10 #duplicate the list

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [5]:
data = 'can i take the class @shikhar_awasthi'
words = data.split()
print(words)

['can', 'i', 'take', 'the', 'class', '@shikhar_awasthi']

In [6]:
words[-1]

'@shikhar_awasthi'

In [7]:
words[1] = 'you'
words[2] = 'please'
words[3] = 'take'
words[4] = 'the'
words[5] = 'class'
words

['can', 'you', 'please', 'take', 'the', 'class']

In [8]:
x = [11,22,33,44,55,66,77,88,99]
print(x[:3]) #first 3 elements
print(x[-3:]) #last 3 elements
print(x[:100]) #first 100 elements if available
print(x[::-1]) #reverse the list

[11, 22, 33]
[77, 88, 99]
[11, 22, 33, 44, 55, 66, 77, 88, 99]
[99, 88, 77, 66, 55, 44, 33, 22, 11]

In [ ]:
for num in x:
    print(num)

In [10]:
#reverse iteration
for num in x[::-1]:
    print(num)

99
88
77
66
55
44
33
22
11

In [11]:
#only first 5 elements of the list in the loop
for i in x[:5]:
    print(i)

11
22
33
44
55

dont update the list while iterating over it

list has 11 methods

In [12]:
x

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [13]:
x.append(111)

In [14]:
x

[11, 22, 33, 44, 55, 66, 77, 88, 99, 111]

In [17]:
x.insert(3, 40)
print(x)

[11, 22, 33, 40, 44, 55, 66, 77, 88, 99, 111]

In [18]:
y = [21,31,41,51,61,71,81,91]

In [19]:
x + y #concatenation of lists

[11, 22, 33, 40, 44, 55, 66, 77, 88, 99, 111, 21, 31, 41, 51, 61, 71, 81, 91]

In [20]:
x.extend(y) #extend the list
print(x)
print(y)

[11, 22, 33, 40, 44, 55, 66, 77, 88, 99, 111, 21, 31, 41, 51, 61, 71, 81, 91]
[21, 31, 41, 51, 61, 71, 81, 91]

In [21]:
x.clear()
print(x)

[]

In [24]:
names

['Anand', 'Janvi', 'Alok', 'Sumit', 'Abhishek']

In [25]:
names.remove('Anand')

In [26]:
words.pop(2)

'please'

In [27]:
words

['can', 'you', 'take', 'the', 'class']

In [28]:
words.pop(-2)
print(words)

['can', 'you', 'take', 'class']